$black: #303030;
$gray: #9DA4BD;
$gray2: #555555;
$white: #FFFFFF;
$orange: #FF6C00;


.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 650px) {
  .container  {
    padding: 0px;
  }
}

.text-p1 {
  font-family: Open-Sans;
  font-size: 14px;
  font-weight: 400;
  color: $gray2;
  // letter-spacing: 2px;
  line-height: 26px;
}

.title-h1 {
  font-family: Raleway;
  font-size: 72px;
  font-weight: 700;
}

@media (max-width: 850px) {
  .title-h1{
    font-size: 48px;
  }
}

.title-h2 {
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 3px;
}

@media (max-width: 850px) {
  .title-h2{
    font-size: 28px;
  }
}

.sub-title {
  font-family: Open-Sans;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;

  &::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: $black;
    margin-right: 20px;
    margin-bottom: 3px;
  }
}

.main-btn {
  background-color: transparent;
  color: $black;
  border: 1px solid $orange;
  border-radius: 25px;
  padding: 12px 20px;
  text-transform: uppercase;
  font-family: Open-Sans;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  max-width: 160px;
}

.transparent-btn {
  background-color: transparent;
  color: $white;
  border: 1px solid $orange;
  border-radius: 25px;
  padding: 12px 20px;
  text-transform: uppercase;
  font-family: Open-Sans;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  max-width: 160px;

}

